{% extends 'base.html' %}

{% block title %}
<p>This is my about us page</p>
{% endblock %}

{% block contect %}
<div class="section">
<form action="">
  <label for="">First Name</label>
    <input type="text" name="first name" value="first name" placeholder="Enter your first name"><br><br>
    <label for="">Last Name</label>
    <input type="text" name="last name" value="last name" placeholder="Enter your last name"><br><br>
    <label for="">Age</label>
    <input type="number" name="age" value="age"><br><br>
    <label for="">Password</label>
    <input type="password" name="password" value="password" placeholder="Enter your password">
    <br><br>
    <input type="Confirm password" value="confirm password">
</form>
</div>

{% endblock %}