<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Django Template</title>
</head>
<body>
<div class="navigation-section">
    <button>HOME</button>
    <button>ABOUT US</button>
    <button>GALLERY</button>
    <button>CONTACT</button>
    <button>TESTIMONIES</button>
    <hr>
</div>

{% block title %}

{% endblock %}

{% block contect%}

{% endblock %}

<section class="footer-section">
    <h2>This is my footer</h2>
    <p>This webpage serves as a simple exercise in HTML designed to help fundamental skills in web development.</p>
</section>
</body>
</html>
