{% extends 'base.html' %}

{% block title %}
<p>This is my Contact page</p>
{% endblock %}

{% block contect %}
<a href="home.html"><button>home</button></a>
<a href="aboutus.html"><button>about us</button></a>
<a href="contact.html"><button>contact</button></a>
<a href="Testimonials.html"><button>Testimonials</button></a>
<a href="descriptions.html"><button>descriptions</button></a>

<h1>Welcome to My Webpage</h1>
<img src="range.jpeg" alt="car">
<img src="images.jpeg" alt="image">
<p>This webpage serves as a simple exercise in HTML designed to help fundamental skills in web development.</p>
<p>Interactivity is introduced with a button.Clicking the button triggers a simple alert.
{% endblock %}