{% extends 'base.html' %}

{% block title %}
<h1>This is my index page</h1>
{% endblock %}

{% block contect%}
<div class="active-section">
<p style="color: blue; text-align: center; text-decoration: underline; font-size: 20px">WEB DEVELOPMENT</p>
<h1 style="text-align: center; text-decoration: underline">Sapphire limited company</h1>
<p>This webpage serves as a simple exercise in HTML designed to help fundamental skills in web development.</p>
<p>Interactivity is introduced with a button.Clicking the button triggers a simple alert.
</div>>
{% endblock %}